/*
	style.css
*/

.clearfix:after{
	display: table;
	content: "";
	clear: both;
}

.left{
	float: left;
}
.right{
	float: right;
}


body{
	padding: 0 1em;
	max-width: 960px;
	margin: 0 auto;
}

h1{
	font-size: 4em;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 2.5em;
}
h4{
	font-size: 2em;
}
h5{
	font-size: 1.75em;
}
h6{
	font-size: 1.5em;
}

p{
	padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6{
	padding: 0.125em 0;
}
h1,
h2,
nav ul li a{
	text-align: center;
}

nav{
	max-width: 960px;
	margin: 0 auto;
}
nav ul{
	margin: 0;
	padding: 0;
	width: 100%;
}
nav ul,
nav ul li{
	float: left;
}
nav ul li,
nav ul li a{
	display: block;
}
nav ul li a{
	padding: 1em 0;
	width: 100%;
}
nav ul li a{
	background: #111;
	color: #eee;
}
nav ul li a:hover{
	background: #222;
}
nav ul li a:active{
	background: #333;
}
section{
	padding: 1em;
	min-height: 640px;
}
footer{
	padding: 1em;
	background: #333;
	color: #eee;
}

img#ruby{
	max-width: 50%;
	height: auto;
	display: block;
	margin: 0 auto;
}
p#instructions{
	padding-top: 1em;
	text-align: center;
}

code{
	font-family: courier, sans-serif;
	color: #f00;
}